<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(~{this::title}, ~{this::body})}">
<head>
    <title>課題一覧 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題一覧</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <a href="./creationForm.html" th:href="@{/issues/creationForm}" class="btn btn-primary me-md-2">作成</a>
</div>
<table class="table table-bordered">
    <thead class="table-info">
    <tr>
        <th>No</th>
        <th>概要</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issueList}">
        <th th:text="${issue.id}">(id)</th>
        <td>
            <a href="./detail.html" th:href="@{/issues/{issueId}(issueId=${issue.id})}" th:text="${issue.summary}">
                (summary)
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>