<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(~{this::title}, ~{this::body})}">
<head>
    <title>課題詳細 | 課題管理アプリケーション </title>
</head>
<body>
<h1 class="mt-3">課題詳細</h1>
<div>
    <div class="summaryForm mb-2">
        <label for="summaryInput" class="form-label">概要</label>
        <input id="summaryInput" type="text" th:field="${issue.summary}" class="form-control">
    </div>

    <div class="description mb-2">
        <label for="descriptionInput" class="form-label">詳細</label>
        <textarea id="descriptionInput" th:field="${issue.description}" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">更新</button>
    <button type="submit" class="btn btn-danger">削除</button>
    <a href="./list.html" th:href="@{/issues}" class="btn btn-secondary">一覧に戻る</a>
</div>
</body>
</html>